* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: greenyellow;
    text-align: center;
    font-size: 45px;
}

.lista {
    display: flex;
    justify-content: center;
    background-color: black;
}

.lista li {
    list-style: none;
    margin: 1rem;
    text-transform: uppercase;
}

a {
    background-color: white;
    text-decoration: none;
    
}
p {
    background-color: gold;
}
img {
    width: 325px;
    height: 325px;
    display: block;
    margin: auto;
}
div {
    background-color: grey;
    width: 1400px;
}