* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: greenyellow;
    text-align: center;
    font-size: 45px;
}

.lista {
    display: flex;
    justify-content: center;
    background-color: black;
}

.lista li {
    list-style: none;
    margin: 1rem;
    text-transform: uppercase;
}

a {
    background-color: white;
    text-decoration: none;
    
}
p {
    background-color: gold;
    width: 70%; 
}
img {
    width: 325px;
    height: 325px;
    display: block;
    margin: auto;
}
div {
    background-color: skyblue;
    width: 1370px;
    height: 1140;

}
.parrafo{
    display: flex;
    justify-content: center;
    align-items:  center;
}
