* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    background-image: url(../multimedia/Rocas.jpg);
    color: white;
}

.lista {
    display: flex;
    justify-content: center;
    background-color: black;
}

.lista li {
    list-style: none;
    margin: 1rem;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}
p {
    background-color: gold;
    width: 70%; 
}
img {
    width: 325px;
    height: 325px;
    display: block;
    margin: auto;
}
div {
    background-image: url(../multimedia/Rocas.jpg);
    background-olor: grey;
    widh: 1370px;
    heght: 1140;

}
.Info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: black;
    width: 1;
    height: 5rem;
}
